<div class="crear-container">
  <div class="logo">
    <span>tes</span><span>hub</span>
  </div>
  <p class="form-title">Ingresa tus datos para crear tu cuenta:</p>
  <form (ngSubmit)="onSubmit()" #crearForm="ngForm">
    <div class="input-group">
      <i>🔢</i>
      <input type="text" placeholder="MATRICULA" required [(ngModel)]="matricula" name="matricula">
    </div>
    <div class="input-group">
      <i>✏️</i>
      <input type="text" placeholder="NOMBRE" required [(ngModel)]="nombre" name="nombre">
    </div>
    <div class="input-group">
      <i>🖋️</i>
      <input type="text" placeholder="APELLIDOS" required [(ngModel)]="apellidos" name="apellidos">
    </div>
    <div class="input-group">
      <i>📧</i>
      <input type="email" placeholder="CORREO ELECTRONICO" required [(ngModel)]="correo" name="correo">
    </div>
    <div class="input-group">
      <i>🔒</i>
      <input type="password" placeholder="CONTRASEÑA" required [(ngModel)]="contrasena" name="contrasena">
    </div>
    <button class="btn-crear" type="submit" [disabled]="crearForm.invalid">CREAR</button>
  </form>
</div>
